<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.appvibrator">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <application
        android:allowBackup="true"
        android:label="VibratorApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service
            android:name=".VibrationService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false"/>

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>